<!DOCTYPE html>
<html lang="en" ng-app= "TagApp">
    <head>
        <title>MonTag</title>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="assets/app.css"/>
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
        <link href="http://www.andela.co/modules/core/img/assets/home/Andela icon.png" rel="shortcut icon" type="image/x-icon">
    </head>

    <body layout="column" ng-controller="TagController as tag">
        <div class="body-container">
          <md-toolbar>
              <div class="md-toolbar-tools" layout="row" layout-align="space-between center">               
                 <md-button class="md-icon-button" aria-label="More" ng-click="tag.openSideNav()">
                     <span class="fa fa-bars fa-2x"></span>
                     <md-tooltip md-direction="right">click toggle sidenav</md-tooltip>
                 </md-button> 

                 <img src="assets/material.png" alt="" class="icon">
                 <div>
                   <md-button arial-label="Login" ng-href="#/" ng-click="tag.reloadHome()" class="left-header">
                     <span class="fa fa-home"></span>
                     Home
                   </md-button>

                   <md-button arial-label="Login" class="left-header" ng-href="#/login" ng-hide="hideLogin.val"> 
                      <span class="fa fa-sign-in"></span>
                     Login
                   </md-button>

                   <md-button arial-label="Login" class="left-header" ng-href="#/profile" ng-click="tag.hideSlide()" ng-hide="hideProfile.val"> 
                      <span class="fa fa-user"></span>
                     Profile
                   </md-button>    
                 </div>                                
              </div>
          </md-toolbar> 

          <md-sidenav md-component-id="left" class="md-sidenav-left">
            <md-toolbar class="sidenav-bar">
                <img src="assets/material.png" alt="material logo">
                <div class="sidebar-tool">
                  <h3 class="md-subhead">MonTag</h3>
                  <p>Find and share tags</p> 
                </div>
            </md-toolbar>
            <div layout="column" layout-align="space-between center">
              <md-button class="md-raised md-primary sidebutton" ng-href="#/users" ng-click="tag.hideSlide()">
                <span class="fa fa-users"></span>
                Find Users
              </md-button>
              <md-button class="md-raised md-primary sidebutton" ng-href="#/tags" ng-click="tag.hideSlide()">
              <span class="fa fa-tags"></span>
              Find Tags
              </md-button>          
            </div>
          </md-sidenav> 
    
          <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="tag.showProgress">
          </md-progress-linear>
          
          <div class="header" ng-hide="tag.hideSlider">
            <h1>Montag</h1>
            <h3>Find and Share Tags</h1>
          </div>
          
          <!-- courousel -->
          <!-- <slider ng-hide="tag.hideSlider"> </slider> -->
          <!-- end courousel -->
          <div ng-hide="tag.hideSlider" class="background"></div>

          <md-content id="content" flex  ng-view>
          </md-content> 
         </div> 
  </body>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
   
    <script src="app/app.js"></script>
    <script src="app/tag-client/taguser-module.js"></script>
    <script src="app/tag-client/controllers/tag-controller.js"></script>
    <script src="app/tag-client/controllers/signup-login-controller.js"></script>
    <script src="app/tag-client/controllers/profile.controller.js"></script>
    <script src="app/tag-client/service/service.js"></script>
    <script src="app/tag-client/directives/taguser-directives.js"></script>
    <script src="assets/live.js"></script>
</html>

