html, body {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

.search-box {
	width: 700px;
}

.display-box {
	width: 700px;
	height: 400px;
}

.login-block {
	width: 400px;
	height: 300px;
}

.signup-block {
	width: 400px;
	height: 500px;
}

.login-but {
	positin: relative;
	left: 300px;
}

.icon {
	position: relative;
	height: 50px;
	width: 50px;
	left: 50px;
}

md-toolbar  {
  height: 50px;
}

.fa-bars, .signup{
	color: white !important;
} 

.sidenav-bar {
	height: 300px;
}

.sidenav-bar img {
	position: relative;
	width: 150px;
	height: 150px;
	top: 50px;
	left: 70px;
}

.sidebar-tool {
	position: relative;
	top: 50px;
	left: 50px;
}

.sidebar-tool h3 {
	position: relative;
	left: 60px;
}

.sidebar-tool p {
	position: relative;
	left: 20px;
}

.sidebutton {
	padding: 10px;
	margin-top: 30px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
}

.slider-position {
	position: relative;
	top: 20px;
	left: 250px;
	width: 800px;
}

.cs_wrapper{
	color: white;
	font-weight: bold;
}

div .left-header {
    margin: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
     
.header {
	position: absolute;
	z-index: 10;
	left: 35%;
	color: whitesmoke;
	font-size: 50px;
	font-family: "Open Sans";
	font-style: italic;
}

.header h3 {
	position: relative;
	left: -70px;
}

md-grid-list {
   background: whitesmoke;
   margin-top: 10px;	
}

.profile {
	background-color: #9575CD;
}

.edit-profile {
	background-color: #81C784;
}

.tag {
	background-color: #4DD0E1;
}

.sign {
	background-color: #BA68C8;
}

.delete {
	background-color: #E57373;
}

.edit-tags {
	background-color: #4DB6AC;
}

.edit-image {
	width: 150px;
	height: 150px;
}

.login-msg {
	width: 400px;
	background-color: #E57373;
	font-size: 20px;
	text-align: center;
}







