<div layout="column" layout-align="center center"> 
  <md-card class="md-whiteframe-z2">
    <md-card-content class="search-box">
      <form ng-submit="tag.submitUserForm()">
		  <md-input-container >
		    <label>Search for Users</label>
		    <span class="fa fa-search"></span>
	        <input ng-model="tag.users">
		  </md-input-container>
	  </form>
    </md-card-content>
  </md-card>

  <md-card class="md-whiteframe-z2">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
      	<h3>
      	   <span class="fa fa-users"></span>
      	   <span>Users</span>
      	</h3>
      </div>
    </md-toolbar>
    <md-card-content>
		    <md-content class="display-box" layout-padding>
		        <md-list ng-repeat="users in tag.getUsers">
		            <md-list-item>
		                <h3>{{users.username}}</h3>
		                <h4>{{users.email}}</h4>
		                <p>{{users.created_at | date}}</p>
		                <md-divider ng-if="!$last"></md-divider>
		            </md-list-item>
		        </md-list>
			  </md-content>
		</md-card-content>
  </md-card>	
</div>