<div layout="column" layout-align="center center"> 
  <md-card class="md-whiteframe-z2">
    <md-toolbar>
       <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Login</h2>
        <p>Don't have an account? 
           <md-button ng-href="#/signup" class="md-raised md-primary">Signup</md-button>
        </p>
       </div>
    </md-toolbar>
    <md-card-content class="login-block">
      <form name="loginForm">
			  <md-input-container >
			    <label>Email</label>
		      <input type="text" required>
			  </md-input-container>
			  <md-input-container >
			    <label>Password</label>
		      <input type="password" required>
			  </md-input-container>
			  <md-button class="md-fab login-but" ng-disabled="loginForm.$invalid">
			    Login
			  </md-button>
	  </form>
    </md-card-content>
  </md-card>
</div>