<md-grid-list md-cols="4" md-gutter="1em"  md-row-height="4:2">
    <md-grid-tile md-colspan="2" md-rowspan="2" class="profile">
      <md-grid-tile-header class="profile-disp">
        <h3>Profile</h3>
      </md-grid-tile-header>
      <div>
         <img src="../../assets/users_2.png" alt="" class="edit-image">	
      </div>
   </md-grid-tile>

    <md-grid-tile md-colspan="1" md-rowspan="2" class="edit-profile">
      <md-grid-tile-header>
        <h3>Edit Profile</h3>
      </md-grid-tile-header>
      <img src="../../assets/users_edit.png" alt="" class="edit-image">
   </md-grid-tile>

   <md-grid-tile md-colspan="1" md-rowspan="1" class="edit-tags">
      <md-grid-tile-header>
        <h3>Edit tags</h3>
      </md-grid-tile-header>
      <span class="fa fa-tags fa-5x"></span>
   </md-grid-tile>

   <md-grid-tile md-colspan="1" md-rowspan="1" class="delete">
      <md-grid-tile-header>
        <h3>Delete Account</h3>
      </md-grid-tile-header>
      <img src="../../assets/delete-icon.png" alt="" class="edit-image">
   </md-grid-tile>

    <md-grid-tile md-colspan="3" md-rowspan="2" class="tag">
      <md-grid-tile-header>
        <h3>Tags</h3>
      </md-grid-tile-header>
   </md-grid-tile>

   <md-grid-tile md-colspan="1" md-rowspan="2" class="sign">
      <md-grid-tile-header>
        <h3>Signout</h3>
      </md-grid-tile-header>
      <img src="../../assets/signout.png" alt="">
   </md-grid-tile>
</md-grid-list>